body {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

#header {
  font-family: "Syne Mono", monospace;
  margin-bottom: 50px;
}

#editor {
  width: 600px;
  height: 200px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: "Source Code Pro", monospace;
  background-color: transparent;
  color: white;
  background-position: bottom right;
  background-repeat: no-repeat;
  /*box-shadow: 0px 0px 10px;*/
}

#preview {
  width: 800px;
  height: 45vw;
  text-align: left;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Montserrat, Courier, monospace;
  background-color: white;
  color: black;
  background-position: bottom right;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px;
}
